{% extends "AppBlog/templates/padre.html" %}

{% load static %}

{% block centro_de_pagina %}


<div class="col-12 col-lg-3">

    <div class="middle-column">


        <div class="card card-left1 mb-4" >
            <img src="media/avatares/negro.jpg" alt="" class="card-img-top img-fluid">
            <div class="card-body text-center ">
                <img src="media/avatares/default.jpg" alt="img" width="120px" height="120px" class="rounded-circle mt-n5">
                <h5 class="card-title">{{ user.username }}</h5>
                <p class="card-text text-justify mb-2">{{ perfil.bio }}</p>
                <ul class="list-unstyled nav justify-content-center">
                   <a href="#" class="text-dark text-decoration-none"> <li class="nav-item">Friends <br> <strong>12M</strong></li></a>
                  <a href="#" class="text-dark text-decoration-none"> <li class="nav-item">Enimes <br> <strong>1</strong></li></a> 
                </ul>

            </div>




        </div>


        <div class="card shadow-sm card-left2 mb-4">

            <div class="card-body">

                    <h5 class="mb-3 card-title">About <small><a href="#" class="ml-1">Edit</a></small></h5>

                    <p class="card-text"> <i class="fas fa-calendar-week mr-2"></i> Went to <a href="#" class="text-decoration-none">oh canada</a></p>

                    <p class="card-text"> <i class="fas fa-user-friends mr-2"></i> Become a friend with <a href="#" class="text-decoration-none">obama</a></p>
                    <p class="card-text"> <i class="far fa-building mr-2"></i> Work at <a href="#" class="text-decoration-none">Github</a></p>
                    <p class="card-text"> <i class="fas fa-home mr-2"></i> Live in <a href="#" class="text-decoration-none">San francisco</a></p>
                    <p class="card-text"> <i class="fas fa-map-marker mr-2"></i> From <a href="#" class="text-decoration-none">Seattle, WA</a></p>




            </div>
         




        </div>


{% endblock %}