{% extends "padre.html" %}

{% load static %}

{% block centro_de_pagina %}


<div class="detalle_posteos">
    <div class="detalle_posteo">
        <h1>Game of Thrones</h1>
            <img src="https://i.pinimg.com/originals/ce/a6/71/cea671eca0d14db693e670ae648d5fb3.jpg" />
        <p>Game of Thrones, titulada en español Juego de Tronos, es una serie de televisión estadounidense de fantasía medieval creada por David Benioff y D. B. Weiss para la cadena HBO. Está basada en la serie de novelas Canción de Hielo y Fuego del escritor George R. R. Martin y su trama se centra en las violentas luchas dinásticas entre varias familias nobles por el control del Trono de Hierro del continente de Poniente.</p>
        <p>Game of Thrones sigue las múltiples líneas argumentales de Canción de Hielo y Fuego. La mayor parte de la historia tiene lugar en Poniente, un continente ficticio donde las estaciones pueden durar años, y se centra en las violentas luchas dinásticas que surgen entre varias familias nobiliarias por el control del Trono de Hierro.</p>
        <p>En este blog podrás compartir tus opiniones, ideas, teorias y todo lo que esté relacionado con el mundo de George R.R. Martin!</p>
        <p></p>
    </div>
</div>



{% endblock %}