{% extends "padre.html" %}

{% load static %}

{% block centro_de_pagina %}


<div class="detalle_posteos">
    <div class="detalle_posteo">
        <h1>Lord of the Rings</h1>
            <img src="https://mobimg.b-cdn.net/v3/fetch/c1/c1c9f4b4483ef4e72a3243282f5376e0.jpeg" />
        <p> El Señor de los Anillos es una novela épica de alta fantasía escrita por J.R.R. Tolkien, que luego se encajó como una trilogía. La historia comenzó como una secuela del anterior libro de fantasía de Tolkien, El Hobbit, y pronto se convirtió en una historia mucho más amplia. En el momento de la publicación, se dividió en The Fellowship of the Ring, The Two Towers y The Return of the King.</p>
        <p>La historia trata a pueblos como los hobbits, los elfos, los hombres, los enanos, los magos y los orcos, y se centra en el Anillo de poder creado por el Señor Oscuro Sauron. Partiendo de unos comienzos tranquilos en la Comarca, la historia se extiende por la Tierra Media y sigue el curso de la Guerra del Anillo. A la historia principal le siguen seis apéndices que proporcionan una gran cantidad de material histórico y lingüístico, así como un índice que enumera cada personaje, lugar, canción y espada.</p>
        <p>En este blog podrás compartir tus opiniones, ideas, teorias y todo lo que esté relacionado con el mundo de Tolkien!</p>
        <p></p>
    </div>
</div>



{% endblock %}