{% extends "padre.html" %}

{% load static %}

{% block centro_de_pagina %}


<div class="detalle_posteos">
    <div class="detalle_posteo">
        <h1>Mistborn</h1>
            <img src="https://i.pinimg.com/originals/ef/01/1a/ef011ace6f36b6c1d00d476808362cbd.jpg" />
        <p> Nacidos de la bruma es una saga de literatura fantástica escrita por el autor estadounidense Brandon Sanderson.</p>
        <p>La saga se compone de dos series de tres y cuatro libros: la primera trilogía, formada por El imperio final (2008), El pozo de la ascensión (2009) y El héroe de las eras (2010) y la segunda trilogía, formada por Aleación de ley (2012), Sombras de indentidad (2016), Brazales de duelo (2017) y El metal perdido (2022). Además cuenta con una novela corta: Nacidos de la bruma: Historia secreta (2016) y dos relatos cortos: El undécimo metal (2011) y Alomante Jak y los Pozos de Eltania (2014). Estas tres están recogidas en la antología Arcanum ilimitado: La colección del Cosmere (2016). Se espera que la saga englobe cuatro eras, separadas entre sí por grandes márgenes temporales (Como fue el salto de 300 años entre "El Héroe de las Eras" y "Aleación de ley").</p>
        <p>En este blog podrás compartir tus opiniones, ideas, teorias y todo lo que esté relacionado con el Cosmere!</p>
        <p></p>
    </div>
</div>


{% endblock %}