{% extends "padre.html" %}

{% load static %}

{% block centro_de_pagina %}


<div class="detalle_posteos">
    <div class="detalle_posteo">
        <h1>Narnia</h1>
            <img src="https://wallpaperaccess.com/full/1715643.jpg" />
        <p>Narnia es un mundo de fantasía creado por C. S. Lewis para su serie de novelas de fantasía infantil, Las crónicas de Narnia.</p>
        <p>En Narnia, algunos animales pueden hablar, las bestias míticas abundan, y la magia es común. La heptalogía cuenta la historia de Narnia cuando humanos, por lo general niños, entran en el mundo narniano desde el nuestro: la Tierra.</p>
        <p>De acuerdo con la historia narrada en El sobrino del mago, Narnia fue creada por el canto de Aslan. Testigos de esto fueron Digory Kirke, Polly Plummer, Andrew Ketterley, Frank el cochero, y el caballo Fresón.</p>
        <p>En este blog podrás compartir tus opiniones, ideas, teorias y todo lo que esté relacionado con el mundo de Lewis!</p>

    </div>
</div>



{% endblock %}