{% extends "padre.html" %}

{% load static %}

{% block centro_de_pagina %}


<div>
    <h2>Sobre Nosotros</h2>

    <p>Hola, somos Mateo Plana y Pablo Robledal, estudiamos ingenería eléctrica en la Universidad Nacional de San Juan y ya estamos en cuarto año de la misma.
       Nos gusta mucho la fantasia y desde chico hemos leído distintas sagas y novelas relacionadas con el genero. Tambien disfrutamos de los
       juegos de rol (rpg) y de estrategia los cuales jugamos con mis amigos y compañeros de facultad.
       Debido a todo esto decidimos hacer un blog en el cual se pueda opinar sobre novelas y topicos en general de fantasia
       a través de posts y mensajes directos, lo cual permite cierto contacto directo entre los usuarios.
       Nos basamos en la estética de la famosa taberna del Señor de los Anillos The Prancing Pony para hacer la estetica del Blog y por eso mismo el Blog lleva su nombre.
       Esperamos que disfruten la pagina y puedan compartir sus opiniones sobre tan fantasticas aventuras que nos atraparon a todos!!</p>
</div>


{% endblock %}