{% extends "padre.html" %}

{% load static %}

{% block centro_de_pagina %}


<div>
    <h2>Sobre Mi (Nosotros)</h2>

    <p>Hola, soy nnnn, estudio ingenería eléctrica en la universidad nacional de San Juan y ya estoy en cuarto año de la misma.
       Me gusta mucho la fantasia y desde chico he leido distintas sagas y novelas relacionadas con el genero. Tambien disfruto de los
       juegos de rol (rpg) y de estrategia los cuales jugamos con mis amigos y compañeros de facultad.
       Debido a todo esto me decidi en hacer un blog en el cual se pueda opinar sobre novelas y topicos en general de de fantasia
       a traves de posts y mensajes directos, lo cual permite cierto contacto directo entre los usuarios.
       Me base en la estetica de la famosa taberna del señor de los anillos The Prancing Pony para hacer la estetica del Blog y por eso mismo el Blog lleva su nombre.
       Espero que disfruten la pagina y puedan compartir sus opiniones sobre tan fantasticas aventuras que nos atraparon a todos!!</p>
</div>


{% endblock %}