{% extends "padre.html" %}

{% load static %}

{% block centro_de_pagina %}

<div>
    <h2>REGLAS DE LA TABERNA</h2>
    <p>Las reglas de la taberna son simples:</p>
        <ul>
            <li>No se discutirá de política dentro de la taberna</li>
            <li>No se tolerará ningun tipo de acto racista, machista, homofobico, etc</li>
            <li>Respetar el resto de usuarios</li>
            <li>Respetar las opiniones plasmadas en los posts</li>
            <li>No spoilers</li>
        </ul>
</div>


{% endblock %}